# SpringBoot公共配置文件
spring:
  application:
    name: bit-vision
  # 默认 dev 环境
  profiles:
    active: dev
  # 外部私密配置的导入
  config:
    import: classpath:application-secret-${spring.profiles.active}.yml
  # 支持 swagger3
  mvc:
    path match:
      matching-strategy: ant_path_matcher
  # 时间戳及时区设置
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${ds.host}/${ds.db}?serverTimezone=GMT%2B8
    username: ${ds.username:root}
    password: ${ds.password:root}
  # 邮箱服务器设置
  mail:
    host: smtp.qq.com   # QQ的smtp服务器地址
    port: 465   # SSL协议端口
    username: ${mail.username:}
    password: ${mail.password:}
    properties:
      mail:
        smtp:
          ssl:
            enable: true    # 开启SSL加密
  # Redis 配置
  redis:
    database: 0
    host: ${redis.host:localhost}
    port: ${redis.port:6379}
    password: ${redis.password:}
  # 文件上传
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

mybatis-plus:
  configuration:
    # 驼峰转下划线
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）

# MinIO对象存储配置（需要自建服务器的话开启）
minio:
  readPath: ${Minio_ReadPath}
  endpoint: ${Minio_Endpoint}
  accessKey: ${Minio_AccessKey}
  secretKey: ${Minio_SecretKey}
  bucket: ${Minio_Bucket}

# 接口文档配置
knife4j:
  enable: true
  openapi:
    title: "BitVision Interface Doc"
    version: 1.0
    group:
      default:
        api-rule: package
        api-rule-resources:
          - com.chiho.bitvision.controller

# Web Server配置
server:
  port: ${server.port}

# 七牛云对象存储配置
qiniu:
  kodo:
    access-key: ${Qiniu_Kodo_Access}
    secret-key: ${Qiniu_Kodo_Secret}
    bucket-name: ${Qiniu_Kodo_Bucket}
